@font-face {
    font-family: "MutFont";
    src: url(/fonts/aquire-font/Aquire-BW0ox.otf);
}

body{
    font-family: "MutFont", Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

.header{
    display: grid;
    grid-template: auto / 6fr 1fr;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 0.2em;
}
h2{
    font-size: 40px;
    text-align: center;
}

.book-cards{
    padding: 80px;
    display: grid;
    height: 80vh;
    grid-template: auto / 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.book-card{
    width: 250px;
    padding: 10px;
    height: 250px;
    border-style: solid;
    border-color: rgb(158, 190, 186);
    border-radius: 20px;
    box-shadow: 2px 2px 4px #7c7878
}

.book-details{
    display: grid;
    grid-template: 50px auto / 1fr 2fr;
    margin-bottom: 2.3em;
}

.book-details > *{
    margin: 0;
    padding: 10px 0 10px 0;
}

.book-name{
    grid-column: span 2;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.delete{
    color: #1cc49d;
    background-color: #1b2f31;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 7em;
    font-size: large;
    font-weight: 600;
    margin-left: 90px;
}

dialog > form{
    display: grid;
    grid-template: auto / 1fr 1fr;
    gap: 5px;
}

dialog > form > input{
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

::backdrop{
    background-image: linear-gradient(rgb(137, 228, 95), rgb(80, 158, 135));
    opacity: .60;
}
/* Button copied from internet*/

.addBook{
    color: #1cc49d;
    background-color: #1b2f31;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 7em;
    font-size: large;
    font-weight: 600;
}
